/* styles.css */

  .Heading{

    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 100px;


  }


  .Home-Text{

    display: flex;
    margin-top: 100px;

    justify-content: center;
    color: red;
    font-size: 70px;

  }

  .Menu-tab, .Home-tab, .Contact-tab{

    cursor:  pointer;


  }



  .top-bar{
    position: fixed;
    background-color: grey;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    font-size: 50px;

  }
  

  .menu-order{

    display: grid;
    grid-template-columns: 1fr auto ;
row-gap: 100px;
  }

  .food{

    height: 100px;
    width: 100px;


  }


  .contact-details{

    display: flex;
    font-size: 100px;
    justify-content: center;

    margin-top: 100px;

    z-index: 100;
    color: black;


  }